<footer class="text-center text-lg-start">
  <div class="container py-4">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-md-4 text-md-left mb-4">
        <h6 class="text-uppercase mb-4 footer-contact-text">Contact Us</h6>
        <p>Email:
          <a href="mailto:trnsc.health@gmail.com" class="footer-contact-mail">trnsc.health@gmail.com</a>
        </p>
      </div>

      <!-- Social Media Icons -->
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase mb-4">Follow Us</h6>
        <div class="d-flex justify-content-center social-icons ms-auto">
          <a href="https://www.facebook.com/groups/the.real.naked.swedish.chef" class="social-icon mx-2">
            <img src="/public/images/icons/facebook.svg" alt="Facebook" width="24" height="24" />
          </a>
          <a href="https://instagram.com" class="social-icon mx-2">
            <img src="/public/images/icons/instagram.svg" alt="Instagram" width="24" height="24" />
          </a>
          <a href="https://twitter.com" class="social-icon mx-2">
            <img src="/public/images/icons/x.svg" alt="Twitter (X)" width="24" height="24" />
          </a>
          <a href="mailto:trnsc.health@gmail.com" class="social-icon mx-2">
            <img src="/public/images/icons/email.svg" alt="Email" width="24" height="24" />
          </a>
        </div>
      </div>

      <!-- Donations -->
      <div class="col-md-4 text-md-right donation-buttons">
        <h6 class="text-uppercase mb-4">Support Us</h6>
        <a href="https://paypal.me/realnakedswedishchef?country.x=SE&locale.x=en_US" target="_blank" class="btn btn-outline-secondary btn-sm social-icon mx-2 mb-1">Donate
          via
          <img src="/public/images/icons/paypal.svg" alt="Donate via PayPal" width="48" height="48" />
        </a>
        <a href="https://wise.com/pay/me/pauld4498" target="_blank" class="btn btn-outline-secondary btn-sm social-icon mx-2">Donate via
          <img src="/public/images/icons/wise.png" alt="Donate via Wise" width="48" height="48" />
        </a>
      </div>
    </div>

    <!-- Legal Disclaimer Section -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="legal-disclaimer">
          <strong>Privacy Notice:</strong> This website does not use cookies or collect any personal data. For more
          information, feel free to contact us at <a href="mailto:trnsc.health@gmail.com">trnsc.health@gmail.com</a>.
        </p>
      </div>
    </div>

    <!-- Dynamic Copyright Section -->
    <div class="text-center mt-4">
      <p class="footer-copyright-text">
        &copy; <span id="year"></span> The Real Naked Swedish Chef. All rights reserved.
      </p>
    </div>
  </div>
</footer>

<script>
  // Update year automatically for copyright
  document.getElementById('year').textContent = new Date().getFullYear();
</script>