<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo and Brand -->
    <a class="navbar-brand" href="/">
      <img src="../public/images/trnsc_logo2.png" alt="TRNSC" width="40" height="40" class="d-inline-block align-text-top" />
      The Real Naked Swedish Chef
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links below the logo -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/healthy-tips">Healthy Tips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/the-science">The Science</a>
        </li>
      </ul>

      <!-- Search Bar centered -->
      <form class="d-flex mx-auto search-width"">
        <input class="form-control me-2" type="search" placeholder="Find a recipe or ingredient" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Social Media Icons -->
      <div class="social-icons ms-auto">
        <a href="https://facebook.com" class="social-icon mx-2">
          <img src="../public/images/icons/facebook.svg" alt="Facebook" width="24" height="24" />
        </a>
        <a href="https://instagram.com" class="social-icon mx-2">
          <img src="../public/images/icons/instagram.svg" alt="Instagram" width="24" height="24" />
        </a>
        <a href="https://twitter.com" class="social-icon mx-2">
          <img src="../public/images/icons/x.svg" alt="Twitter (X)" width="24" height="24" />
        </a>
        <a href="mailto:trnsc.health@gmail.com" class="social-icon mx-2">
          <img src="../public/images/icons/email.svg" alt="Email" width="24" height="24" />
        </a>
      </div>

      <!-- Donation Buttons -->
      <div class="donation-buttons ms-auto">
        <a href="https://www.paypal.com/donate" class="btn btn-outline-secondary btn-sm mx-2">Donate via PayPal
          <img src="../public/images/icons/paypal.svg" alt="Donate via PayPal" width="48" height="48" />
        </a>
        <a href="https://wise.com" class="btn btn-outline-secondary btn-sm mx-2">Donate via Wise
          <img src="../public/images/icons/wise.png" alt="Donate via Wise" width="48" height="48" />
        </a>
      </div>
    </div>
  </div>
</nav>
