<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo and Brand -->
    <a class="navbar-brand" href="/">
      <img src="/public/images/trnsc_logo2.png" alt="TRNSC" width="40" height="40" class="d-inline-block align-text-top" />
      The Real Naked Swedish Chef
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links below the logo -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Recipes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/views/layouts/recipes/all_recipes/index_all_recipes.html">All Recipes</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/snacks/index_snacks.html">Snacks</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/breakfast/index_breakfast.html">Breakfast</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/lunch/index_lunch.html">Lunch</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/dinner/index_dinner.html">Dinner</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/dessert/index_dessert.html">Dessert</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/appetizers/index_appetizers.html">Appetizers & Starters</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/drinks/index_drinks.html">Drinks & Smoothies</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/salads/index_salads.html">Salads</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/soups/index_soups.html">Soups</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/vegan/index_vegan.html">Vegan</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/vegetarian/index_vegetarian.html">Vegetarian</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/keto_and_low_carb/index_keto_and_low_carb.html">Low-Carb & Keto</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/side_dishes/index_side_dishes.html">Side Dishes</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/gluten_free/index_gluten_free.html">Gluten-Free</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/holidays_and_special_occasions/index_holidays_and_special_occasions.html">Holiday & Special Occasions</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/quick_and_easy/index_quick_and_easy.html">Quick & Easy</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/merchandise_links.html"><strong>Amazon Shopping</strong></a>
            </li>
          </ul>
        </li>
        <!-- Healthy Tips Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="healthyTipsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Healthy Tips
          </a>
          <ul class="dropdown-menu" aria-labelledby="healthyTipsDropdown">
            <li><a class="dropdown-item" href="/views/healthy_tips.html">Healthy Tips</a></li>
            <li><a class="dropdown-item" href="/views/layouts/healthy_tips/kitchen_tips.html">Kitchen Tips</a></li>
            <li><a class="dropdown-item" href="/views/layouts/healthy_tips/articles.html">Health Articles</a></li>
          </ul>
        </li>
        
        <!-- About Link -->
        <li class="nav-item">
          <a class="nav-link" href="/views/about.html">About</a>
        </li>
        
        <!-- The Science Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="scienceDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            The Science
          </a>
          <ul class="dropdown-menu" aria-labelledby="scienceDropdown">
            <li><a class="dropdown-item" href="/views/science.html">The Science</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/science/science_articles.html">Science Articles</a></li>
            <li><a class="dropdown-item" href="/views/layouts/recipes/science/convertor.html">Blood Glucose Convertor</a></li>
          </ul>
        </li>

        <!-- Merchandise Link -->
        <li class="nav-item">
          <a class="nav-link" href="/views/merchandise.html">Merchandise <img src="/public/images/icons/sunglasses.svg" alt="sunglasses"></a>
        </li>

      </ul>

    <form class="d-flex mx-auto search-width" onsubmit="handleSearch(event)">
      <input class="form-control me-2" type="search" id="search-input" placeholder="Find a recipe or ingredient"
        aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

      <!-- Social Media Icons with Dropdown -->
      <div class="social-icons ms-auto d-none d-lg-flex"> <!-- Existing section for larger screens -->
        <a href="https://www.facebook.com/groups/the.real.naked.swedish.chef" target="_blank" rel="noopener"
          class="social-icon mx-2">
          <img src="/public/images/icons/facebook.svg" alt="Facebook" width="24" height="24" />
        </a>
        <a href="https://www.instagram.com/trnsc.health/" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/instagram.svg" alt="Instagram" width="24" height="24" />
        </a>
        <a href="https://www.threads.net/@trnsc.health" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/threads-logo-black.svg" alt="Threads" width="24" height="24" />
        </a>
        <a href="https://bsky.app/profile/naked-swedish-chef.bsky.social" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/bluesky.svg" alt="Threads" width="24" height="24" />
        </a>
        <a href="mailto:trnsc.health@gmail.com" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/email.svg" alt="Email" width="24" height="24" />
        </a>
      </div>
      
      <!-- Updated Social Media Dropdown with Icons -->
      <div class="dropdown social-dropdown d-lg-none ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="socialDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Social Media
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="socialDropdown">
          <li>
            <a class="dropdown-item" href="https://www.facebook.com/groups/the.real.naked.swedish.chef" target="_blank" rel="noopener">
              <img src="/public/images/icons/facebook.svg" alt="Facebook Icon" width="18" height="18" class="me-2" /> Facebook
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://www.instagram.com/trnsc.health/" target="_blank" rel="noopener">
              <img src="/public/images/icons/instagram.svg" alt="Instagram Icon" width="18" height="18" class="me-2" />
              Instagram
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://www.threads.net/@trnsc.health" target="_blank" rel="noopener">
              <img src="/public/images/icons/threads-logo-black.svg" alt="Threads Icon" width="18" height="18" class="me-2" />
              Threads
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://bsky.app/profile/naked-swedish-chef.bsky.social" target="_blank" rel="noopener">
              <img src="/public/images/icons/bluesky.svg" alt="BLuesky Icon" width="18" height="18" class="me-2" />
              Bluesky
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="mailto:trnsc.health@gmail.com" target="_blank" rel="noopener">
              <img src="/public/images/icons/email.svg" alt="Email Icon" width="18" height="18" class="me-2" /> Email
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<!-- Banner Section -->
<div class="banner text-center py-3 mt-4 mb-2">
<h2 class="text-center py-3 mb-4 banner-with-icons">
  <img src="/public/images/icons/new-1.svg" alt="New Icon" class="svg-icon-start" />
  Fresh Food - Fresh Ideas - Fresh Health
  <img src="/public/images/icons/heart_plus.svg" alt="Heart Plus Icon" class="svg-icon-end" />
</h2>
</div>
