<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo and Brand -->
    <a class="navbar-brand" href="/">
      <img src="/public/images/trnsc_logo2.png" alt="TRNSC" width="40" height="40" class="d-inline-block align-text-top" />
      The Real Naked Swedish Chef
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links below the logo -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Recipes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/all_recipes/index_all_recipes.html">
                <img src="/public/images/icons/recipes.png" alt="Recipes Icon" class="header-icon">
                All Recipes
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/snacks/index_snacks.html">
                <img src="/public/images/icons/snack.png" alt="Snack Icon" class="header-icon">
                Snacks
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/breakfast/index_breakfast.html">
                <img src="/public/images/icons/english-breakfast.png" alt="Breakfast Icon" class="header-icon">
                Breakfast
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/lunch/index_lunch.html">
                <img src="/public/images/icons/lunch-time.png" alt="Lunch Icon" class="header-icon">
                Lunch
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/dinner/index_dinner.html">
                <img src="/public/images/icons/dinner.png" alt="Dinner Icon" class="header-icon">
                Dinner
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/dessert/index_dessert.html">
                <img src="/public/images/icons/dessert.png" alt="Dessert Icon" class="header-icon">
                Dessert
              </a>
            </li>

              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/appetizers/index_appetizers.html">
                <img src="/public/images/icons/appertizers.png" alt="Appetizers Icon" class="header-icon">
                Appetizers & Starters
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/drinks/index_drinks.html">
                <img src="/public/images/icons/smoothie.png" alt="Smoothie Icon" class="header-icon">
                Drinks & Smoothies
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/salads/index_salads.html">
                <img src="/public/images/icons/salad.png" alt="Salad Icon" class="header-icon">
                Salads
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/soups/index_soups.html">
                <img src="/public/images/icons/soup.png" alt="Soup Icon" class="header-icon">
                Soups
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/vegan/index_vegan.html">
                <img src="/public/images/icons/vegan.png" alt="Vegan Icon" class="header-icon">
                Vegan
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/vegetarian/index_vegetarian.html">
                <img src="/public/images/icons/vegetarian.png" alt="Vegetarian Icon" class="header-icon">
                Vegetarian
              </a>
            </li>

          <li>
            <a class="dropdown-item" href="/views/layouts/recipes/keto_and_low_carb/index_keto_and_low_carb.html">
              <img src="/public/images/icons/keto.png" alt="Keto Icon" class="header-icon">
              Low-Carb & Keto
            </a>
          </li>

            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/side_dishes/index_side_dishes.html">
                <img src="/public/images/icons/side_dish.png" alt="Side Dish Icon" class="header-icon">
                Side Dishes
              </a>
            </li>

          <li>
            <a class="dropdown-item" href="/views/layouts/recipes/gluten_free/index_gluten_free.html">
              <img src="/public/images/icons/gluten-free.png" alt="Gluten-Free Icon" class="header-icon">
              Gluten-Free
            </a>
          </li>

          <li>
            <a class="dropdown-item"
              href="/views/layouts/recipes/holidays_and_special_occasions/index_holidays_and_special_occasions.html">
              <img src="/public/images/icons/christmas_dinner.png" alt="Holiday Icon" class="header-icon">
              Holiday & Special Occasions
            </a>
          </li>

          <li>
            <a class="dropdown-item" href="/views/layouts/recipes/quick_and_easy/index_quick_and_easy.html">
              <img src="/public/images/icons/quick.png" alt="Quick Icon" class="header-icon">
              Quick & Easy
            </a>
          </li>

              <hr class="dropdown-divider">
            </li>
          <li>
            <a class="dropdown-item" href="/merchandise_links.html">
              <img src="/public/images/icons/amazon.png" alt="Amazon Icon" class="header-icon">
              <strong>Amazon Shopping</strong>
            </a>
          </li>

          </ul>
        </li>
        <!-- Healthy Tips Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="healthyTipsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Healthy Tips
          </a>
          <ul class="dropdown-menu" aria-labelledby="healthyTipsDropdown">
            <li>
              <a class="dropdown-item" href="/views/healthy_tips.html">
                <img src="/public/images/icons/diet.png" alt="Diet Icon" class="header-icon">
                Healthy Tips
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/views/layouts/healthy_tips/kitchen_tips.html">
                <img src="/public/images/icons/chef.png" alt="Chef Icon" class="header-icon">
                Kitchen Tips
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/views/layouts/healthy_tips/articles.html">
                <img src="/public/images/icons/application.png" alt="Application Icon" class="header-icon">
                Health Articles
              </a>
            </li>
          </ul>
        </li>
        
        <!-- About Link -->
        <li class="nav-item">
          <a class="nav-link" href="/views/about.html">About</a>
        </li>
        
        <!-- The Science Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="scienceDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            The Science
          </a>
          <ul class="dropdown-menu" aria-labelledby="scienceDropdown">
            <li>
              <a class="dropdown-item" href="/views/science.html">
                <img src="/public/images/icons/microscope.png" alt="Microscope Icon" class="header-icon">
                The Science
              </a>
            </li>
              <a class="dropdown-item" href="/views/layouts/health_monitoring_essentials.html">
                <img src="/public/images/icons/heart-rate.png" alt="Heart Rate Icon" class="header-icon">
                Health Monitoring Essentials
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/science/science_articles.html">
                <img src="/public/images/icons/application.png" alt="Application Icon" class="header-icon">
                Science Articles
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/views/layouts/recipes/science/convertor.html">
                <img src="/public/images/icons/calculator.png" alt="Calculator Icon" class="header-icon">
                Blood Glucose Convertor
              </a>
            </li>
          </ul>
        </li>

        <!-- Merchandise Link -->
        <li class="nav-item">
          <a class="nav-link" href="/views/merchandise.html">Merchandise <img src="/public/images/icons/sunglasses.svg" alt="sunglasses"></a>
        </li>

      </ul>

    <form class="d-flex mx-auto search-width" onsubmit="handleSearch(event)">
      <input class="form-control me-2" type="search" id="search-input" placeholder="Find a recipe or ingredient"
        aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

      <!-- Social Media Icons with Dropdown -->
      <div class="social-icons ms-auto d-none d-lg-flex"> <!-- Existing section for larger screens -->
        <a href="https://www.facebook.com/groups/the.real.naked.swedish.chef" target="_blank" rel="noopener"
          class="social-icon mx-2">
          <img src="/public/images/icons/facebook.svg" alt="Facebook" width="24" height="24" />
        </a>
        <a href="https://www.instagram.com/trnsc.health/" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/instagram.svg" alt="Instagram" width="24" height="24" />
        </a>
        <a href="https://www.threads.net/@trnsc.health" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/threads-logo-black.svg" alt="Threads" width="24" height="24" />
        </a>
        <a href="https://bsky.app/profile/naked-swedish-chef.bsky.social" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/bluesky.svg" alt="Bluesky" width="24" height="24" />
        </a>
        <a href="mailto:trnsc.health@gmail.com" target="_blank" rel="noopener" class="social-icon mx-2">
          <img src="/public/images/icons/email.svg" alt="Email" width="24" height="24" />
        </a>
      </div>
      
      <!-- Updated Social Media Dropdown with Icons -->
      <div class="dropdown social-dropdown d-lg-none ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="socialDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Social Media
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="socialDropdown">
          <li>
            <a class="dropdown-item" href="https://www.facebook.com/groups/the.real.naked.swedish.chef" target="_blank" rel="noopener">
              <img src="/public/images/icons/facebook.svg" alt="Facebook Icon" width="18" height="18" class="me-2" /> Facebook
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://www.instagram.com/trnsc.health/" target="_blank" rel="noopener">
              <img src="/public/images/icons/instagram.svg" alt="Instagram Icon" width="18" height="18" class="me-2" />
              Instagram
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://www.threads.net/@trnsc.health" target="_blank" rel="noopener">
              <img src="/public/images/icons/threads-logo-black.svg" alt="Threads Icon" width="18" height="18" class="me-2" />
              Threads
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://bsky.app/profile/naked-swedish-chef.bsky.social" target="_blank" rel="noopener">
              <img src="/public/images/icons/bluesky.svg" alt="Bluesky Icon" width="18" height="18" class="me-2" />
              Bluesky
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="mailto:trnsc.health@gmail.com" target="_blank" rel="noopener">
              <img src="/public/images/icons/email.svg" alt="Email Icon" width="18" height="18" class="me-2" /> Email
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<!-- Banner Section -->
<div class="banner text-center py-3 mt-4 mb-2">
<h2 class="text-center py-3 mb-4 banner-with-icons">
  <img src="/public/images/icons/new-1.svg" alt="New Icon" class="svg-icon-start" />
  Fresh Food - Fresh Ideas - Fresh Health
  <img src="/public/images/icons/heart_plus.svg" alt="Heart Plus Icon" class="svg-icon-end" />
</h2>
</div>
