#raw-chocolate {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.card-link-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


.card {
    max-width: 100%;
    margin: 0 auto;
    /* Center the card within its column */
}

.card-body {
    text-align: center;
    /* Center the text */
}

.half-size {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    margin: auto;
    width: 80%;
    /* Default width */
    max-width: 120%;
    /* Max width for larger screens */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
    .half-size {
        max-width: 80%;
    }

    .modal-content {
        width: 100%;
        /* Fill the width on mobile */
    }
}